<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="manifest" href="manifest.json">
<link rel="icon" type="image/png" sizes="128x128" href="icon-128x128.png">
<meta name="theme-color" content="{{ appd.manifest_themecolor }}">
<link rel="stylesheet" href="app.css">
<title>{{ appd.fulltitle }}</title>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', () => { navigator.serviceWorker.register('./sw.js'); });
}
</script>
</head>
<body>
{% apply spaceless %}
{% set maproutes = [] %}
{% set pagedata = {} %}
<header>
	<div class="menu-selector" id="id_AppPageMenuBtn"><i class="fvricon fvricon-menu" style="font-size:24px; margin-top:2px;"></i></div>
	<div class="menu-selector" id="id_AppPageTitle"><span>{{ appd.title }}</span><span>Map</span></div>
</header>

{% for pg in pages %}
	{% set thispd = {title: pg.title, layers: pg.layers, opts: pg.opts} %}
	{% set pagedata = pagedata|merge({(pg.id): thispd}) %}
	{% if pg.class == 'map' %}
		{% set maproutes = maproutes|merge([pg.id]) %}
		<div class="main-content map-page" id="pgid-{{ pg.id }}">
		</div>
	{% elseif pg.class %}
		<div class="main-content info-page" id="pgid-{{ pg.id }}">
			<div class="info-content">
				{{ pg.html|raw }}
			</div>
		</div>
	{% endif %}
{% endfor %}

<div id="vlp-modal"><div id="vlp-modal-content">
	<div id="vlp-modal-header">
		<span id="vlp-modal-title"></span>
		<span id="vlp-modal-close">&times;</span>
	</div>
	<div id="vlp-modal-body"></div>
</div></div>

<div id="win-mainmenu" style="display:none;z-index:99999;">
	<nav id="mainmenu" class="lsmenu">
		<a href="./">{{ icon.home|raw }} Home</a><hr>
		{% set navgrp = '' %}
		{% for pg in pages %}
			{% if pg.class and pg.nav %}
				{% set thisnavgrp = pg.nav|first %}
				{% if navgrp and (navgrp != thisnavgrp) %}
					<hr>
				{% endif %}

				<a href="{{ pg.id }}" data-navigo>{{ pg.title }}</a>
				{% set navgrp = thisnavgrp %}
			{% endif %}
		{% endfor %}
	</nav>
</div>

{% endapply %}
<script>
var vlpApp = {
	appd: {{ appd|json_encode }},
	layers: {{ layers|json_encode }},
	maps: {{ maproutes|json_encode }},
	pages: {{ pagedata|json_encode }},
	pageids: {{ pageids|json_encode }},
	activeMap: null
}
</script>
<script async src="app.js"></script>
</body>
</html>
