<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="manifest" href="manifest.json">
<link rel="icon" type="image/png" sizes="128x128" href="icon-128x128.png">
<meta name="theme-color" content="{{ appd.manifest_themecolor }}">
<link rel="stylesheet" href="app.css">
<title>{{ appd.fulltitle }}</title>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', () => { navigator.serviceWorker.register('./sw.js'); });
}
</script>
</head>
<body>
{% apply spaceless %}
{% set maproutes = [] %}
{% set pagedata = {} %}
<div id="id_AppMapPage">
	<div id="id_Map"></div>
</div>

<header class="menu-selector" id="id_AppPageTitle">
{{ appd.title }}
</header>

<div id="id_AppInfoScreen" style="display:none"><div class="info-container">
	<div class="info-header">
		<a id="id_CloseAppInfoBtn">&times;</a>
	</div>
	<div class="info-content">
{% for pg in pages %}
	{% set thispd = {title: pg.title, layers: pg.layers, opts: pg.opts} %}
	{% set pagedata = pagedata|merge({(pg.id): thispd}) %}
	{% if pg.class == 'map' %}
		{% set maproutes = maproutes|merge([pg.id]) %}
	{% elseif pg.class %}
			<div id="pgid-{{ pg.id }}" style="display:none;">
				{{ pg.html|raw }}
			</div>
	{% endif %}
{% endfor %}
	</div>
</div></div>

<div id="vlp-modal"><div id="vlp-modal-content">
	<div id="vlp-modal-header">
		<span id="vlp-modal-title"></span>
		<span id="vlp-modal-close">&times;</span>
	</div>
	<div id="vlp-modal-body"></div>
</div></div>

<div id="win-mainmenu" class="app-menu" style="display:none;">
	<nav id="mainmenu">
		<div class="mainmenu-tools">
			<span class="toolbtn" id="btnid-yah"><i class="fvricon fvricon-walk"></i></span>
		</div>
		<hr>
		{% set navgrp = '' %}
		{% for pg in pages %}
			{% if pg.class and pg.nav %}
				{% set thisnavgrp = pg.nav|first %}
				{% if navgrp and (navgrp != thisnavgrp) %}
					<hr>
				{% endif %}

				<a href="{{ pg.id }}" data-navigo>{{ pg.title }}</a>
				{% set navgrp = thisnavgrp %}
			{% endif %}
		{% endfor %}
	</nav>
</div>

{% endapply %}
<script>
var vlpApp = {
	appd: {{ appd|json_encode }},
	layers: {{ layers|json_encode }},
	maps: {{ maproutes|json_encode }},
	pages: {{ pagedata|json_encode }},
	pageids: {{ pageids|json_encode }},
	activeMap: null
}
</script>
<script async src="app.js"></script>
</body>
</html>
