<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="manifest" href="manifest.json">
<link rel="icon" type="image/png" sizes="128x128" href="icon-128x128.png">
<meta name="theme-color" content="#000000">
<style>
html, body {height:100%; margin:0; padding:0; overflow:hidden;}
a {text-decoration: none;}
.menu-selector {cursor:context-menu;}
header {display:block;width:100%;height:28px;border:0;margin:0;padding:0;overflow:hidden;background-color:black;color:#eee;user-select:none;}
header > div {display:block;height:28px;border:0;background-color:black;overflow:hidden;white-space:nowrap;margin:0;padding:0px 10px;font:16px "Times New Roman",Times,serif;}
header > div > span {line-height:28px;vertical-align:middle;}
header svg {width:24px;height:24px;margin:2px 0;}
#id_AppTitle {position:absolute;top:0;left:0;}
#id_AppPageTitle {position:absolute;top:0;right:34px;text-align:right;color:yellow;}
#id_AppPageMenuBtn {position:absolute;top:0;right:0;width:24px;}
.main-content {display:none; width:100%; height:calc(100% - 28px); border:0; margin:0;padding:0;}
.main-content.active { display:block; }
#image-map {width:100%; height:100%; margin:0; padding:0;}
div.info-page {overflow:auto;}
div.markdown-page {color:#1a1a3a;max-width:1350px; margin:0 auto;padding:4px 15px;}
.markdown-page > h1:first-child {display:none;}
#win-mainmenu {position:absolute;left:0px;top:28px;height:calc(100% - 28px);width:100%;overflow:hidden; background-color: rgba(0,0,0,0.5);user-select:none;}
nav.lsmenu {position:absolute;top:0;right:0;height:100%;width:70%;max-width:350px;overflow:auto;padding:10px 5px; background-color:#111;color:white;}
.lsmenu a {display:block; margin:0; padding:4px 12px; color:white;}
.lsmenu a:hover {color:#111;background-color:white;}
{{ include('fvricons.css') }}
</style>
<title>{{ appfulltitle }}</title>
</head>
<body>
{% apply spaceless %}
<header>
	<div id="id_AppTitle"><span>{{ apptitle }}</span></div>
	<div class="menu-selector" id="id_AppPageTitle"><span>Map</span></div>
	<div class="menu-selector" id="id_AppPageMenuBtn">
		<svg viewBox="0 0 24 24">
			<path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
		</svg>
	</div>
</header>
<div class="main-content active" id="id-mainmap">
	<div id="image-map"></div>
</div>

{% for pg in info %}
<div class="main-content info-page" id="idmarkdown-{{ pg.id }}">
	<div class="markdown-page">
		{{ pg.html|raw }}
	</div>
</div>
{% endfor %}

<div id="vlp-modal"><div id="vlp-modal-content">
	<div id="vlp-modal-header">
		<span id="vlp-modal-title"></span>
		<span id="vlp-modal-close">&times;</span>
	</div>
	<div id="vlp-modal-body"></div>
</div></div>

<div id="win-mainmenu" style="display:none;z-index:99999;">
	<nav id="mainmenu" class="lsmenu">
		<a href="/#!map">Park Map</a>
		<hr>
		{% for pg in info %}
			<a href="/#!show-{{ pg.id }}">{{ pg.title|e('html') }}</a>
		{% endfor %}
	</nav>
</div>

<div style="display:none" id="whatsnew"><ul>
	{% for txt in whatsnew %}
		<li>{{ txt[0] }}: {{ txt[1]|raw }}</li>
	{% endfor %}
</ul></div>

<script async src="vlp.js"></script>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', () => { navigator.serviceWorker.register('./sw.js'); });
}
</script>
</body>
{% endapply %}
</html>
